<div class="container text-center">

  <mat-card class="mat-elevation-z3 mt-5">
    <!-- Content -->
    <mat-card-content>

      <!-- HEADER -->
      <mat-card-header>
        <h1 class="display-1 page-header">Purchase Orders</h1>
      </mat-card-header>
      <!-- HEADER -->

      <mat-divider></mat-divider>
      <!-- IMAGE -->
      <div>
        <img
          class="img-fluid"
          src="../../../assets/cc-logo.png"
          alt="cc-logo">
      </div>
      <!-- IMAGE -->
    </mat-card-content>
    <!-- /Content -->

    <mat-divider></mat-divider>

    <!-- ACTIONS -->
    <mat-card-actions>
      <div class="text-center">
        <button
          [routerLink]="['/','main']"
          mat-raised-button
          color="primary"
          class>
          GET STARTED
        </button>
      </div>
    </mat-card-actions>
    <!-- /ACTIONS -->

  </mat-card>

  <section></section>

</div>
