<div style="padding: 20px; font-size: 2em; background: yellow; color: black">Under construction</div>
<mat-tab-group #supplierTabs>

  <mat-tab
    label="Retrieve Suppliers"
    class="p-3 position-relative">
    <app-supplier-retrieve
      (addSuppliers)="onAddNewSupplier($event,supplierTabs)"
      addButtonTooltip="some add btn tooltip string"
      searchInputToolTip="some search bar tooltip"></app-supplier-retrieve>
  </mat-tab>

  <mat-tab
    *ngIf="showCreateTab"
    label="Create">
    <app-supplier-create (cancelled)="onCancelNewSupplier($event,supplierTabs)"></app-supplier-create>
  </mat-tab>

  <!-- <mat-tab label="Update">
    <div style="padding: 20px; font-size: 2em; background: yellow; color: black">Under construction</div>

  </mat-tab> -->

</mat-tab-group>
