<!-- Home Component Template -->

<section>

  <mat-toolbar color="{{toolBarColor}}">
    <!-- MENU TOGGLE -->
    <button
      (click)="toggleDrawer(drawer)"
      mat-icon-button
      aria-label="Example icon-button with a heart icon">
      <mat-icon>{{sideNavToggleIcon}}</mat-icon>
    </button>
  </mat-toolbar>

  <mat-divider></mat-divider>

  <!-- ICON LIST -->
  <mat-list>

    <mat-list-item *ngFor="let link of sideNavLinks">
      <button
        [routerLink]="link.route"
        class="side-nav-icon"
        mat-icon-button
        routerLinkActive="active-icon"
        [attr.aria-label]="link.ariaLabel">
        <mat-icon>{{link.icon}}</mat-icon>
      </button>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <button
        [routerLink]="['/','main','about']"
        class="side-nav-icon"
        mat-icon-button
        routerLinkActive="active-icon">
        <mat-icon>info</mat-icon>
      </button>
    </mat-list-item>

  </mat-list>

  <!-- ABOUT ICON -->

  <mat-list></mat-list>

</section>

<section class="h-100 w-100">

  <mat-drawer-container class="main-content-drawer h-100 position-relative">

    <mat-drawer
      #drawer
      mode="side"
      opened="true">

      <nav>
        <mat-toolbar color="{{toolBarColor}}">{{MenuCaption}}</mat-toolbar>
        <mat-divider></mat-divider>

        <mat-list>
          <mat-list-item *ngFor="let link of sideNavLinks">
            <button
              class="side-nav-btn"
              [routerLink]="link.route"
              routerLinkActive="active-button"
              class="side-nav-button"
              mat-button>
              {{link.caption}}
            </button>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>
            <button
              class="side-nav-btn"
              [routerLink]="['/','main','about']"
              routerLinkActive="active-button"
              class="side-nav-button"
              mat-button>
              About
            </button>
          </mat-list-item>

        </mat-list>
      </nav>

    </mat-drawer>

    <mat-drawer-content class="flex-one">

      <mat-toolbar color="{{toolBarColor}}">{{selectedSpace}}</mat-toolbar>
      <mat-divider></mat-divider>

      <router-outlet></router-outlet>

    </mat-drawer-content>

  </mat-drawer-container>

</section>
